<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>ResumeChat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <div class="layout">
        <header class="header">
            <div></div>
            <div class="header-title"><h1>ResumeChat</h1></div>
            <div></div>
        </header>

        <aside class="sidebar-left">
            <h1>Pick a theme</h1>

            <div class="theme-option">
                <h3><span id="simple">Simple</span> <span id="style">Style</span></h3>
                <label class="switch">
                    <input type="checkbox" class="themeChoices" checked>
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="theme-option">
                <h3><span id="modern">Modern</span> <span id="refresh">Refresh</span></h3>
                <label class="switch">
                    <input type="checkbox" class="themeChoices">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="theme-option">
                <h3><span id="graceful">Graceful</span> <span id="elegance">Elegance</span></h3>
                <label class="switch">
                    <input type="checkbox" class="themeChoices">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="theme-option">
                <h3><span id="smooth">Smooth</span> <span id="finish">Finish</span></h3>
                <label class="switch">
                    <input type="checkbox" class="themeChoices">
                    <span class="slider round"></span>
                </label>
            </div>
        </aside>

        <main class="main-content">
            <h1>Your resume</h1>
            <div class="resume-preview">
                <h1 id="resumeNameHeader"></h1>
                <h2 id="resumeEmailHeader"></h2>
            </div>
        </main>

        <aside class="sidebar-right">
            <h1>Chat</h1>

            <div id="chatbox"></div>
            
            <form id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Type your response..." required/>
                <button id="textSend" type="submit">Send</button>
            </form>
        </aside>

        <footer class="footer">
            <p>© 2025 Chris Wright</p>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>